In [2]:
import pandas as pd
import numpy as np

1). Загрузите датасет Wine из встроенных датасетов sklearn.datasets с помощью функции load_wine в переменную data.

In [3]:
from sklearn.datasets import load_wine

2). Полученный датасет не является датафреймом. Это структура данных, имеющая ключи аналогично словарю. Просмотрите тип данных этой структуры данных и создайте список data_keys, содержащий ее ключи.

In [7]:
wine = load_wine()

In [8]:
type(wine)

sklearn.utils.Bunch

In [20]:
data_keys = wine.feature_names
data_keys

['alcohol',
 'malic_acid',
 'ash',
 'alcalinity_of_ash',
 'magnesium',
 'total_phenols',
 'flavanoids',
 'nonflavanoid_phenols',
 'proanthocyanins',
 'color_intensity',
 'hue',
 'od280/od315_of_diluted_wines',
 'proline']

3). Просмотрите данные, описание и названия признаков в датасете. Описание нужно вывести в виде привычного, аккуратно оформленного текста, без обозначений переноса строки, но с самими переносами и т.д.4). Сколько классов содержит целевая переменная датасета? Выве
дите названия классов.

In [22]:
for line in wine.DESCR.split("\n"):
    print(line)

.. _wine_dataset:

Wine recognition dataset
------------------------

**Data Set Characteristics:**

    :Number of Instances: 178 (50 in each of three classes)
    :Number of Attributes: 13 numeric, predictive attributes and the class
    :Attribute Information:
 		- Alcohol
 		- Malic acid
 		- Ash
		- Alcalinity of ash
 		- Magnesium
		- Total phenols
 		- Flavanoids
 		- Nonflavanoid phenols
 		- Proanthocyanins
		- Color intensity
 		- Hue
 		- OD280/OD315 of diluted wines
 		- Proline

    - class:
            - class_0
            - class_1
            - class_2

    :Summary Statistics:

    ============================= ==== ===== ======= =====
                                   Min   Max   Mean     SD
    ============================= ==== ===== ======= =====
    Alcohol:                      11.0  14.8    13.0   0.8
    Malic Acid:                   0.74  5.80    2.34  1.12
    Ash:                          1.36  3.23    2.36  0.27
    Alcalinity of Ash:            10.6  30.0    19.5   3.3
    Magnesium:                    70.0 162.0    99.7  14.3
    Total Phenols:                0.98  3.88    2.29  0.63
    Flavanoids:                   0.34  5.08    2.03  1.00
    Nonflavanoid Phenols:         0.13  0.66    0.36  0.12
    Proanthocyanins:              0.41  3.58    1.59  0.57
    Colour Intensity:              1.3  13.0     5.1   2.3
    Hue:                          0.48  1.71    0.96  0.23
    OD280/OD315 of diluted wines: 1.27  4.00    2.61  0.71
    Proline:                       278  1680     746   315
    ============================= ==== ===== ======= =====

    :Missing Attribute Values: None
    :Class Distribution: class_0 (59), class_1 (71), class_2 (48)
    :Creator: R.A. Fisher
    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
    :Date: July, 1988

This is a copy of UCI ML Wine recognition datasets.
https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data

The data is the results of a chemical analysis of wines grown in the same
region in Italy by three different cultivators. There are thirteen different
measurements taken for different constituents found in the three types of
wine.

Original Owners:

Forina, M. et al, PARVUS -
An Extendible Package for Data Exploration, Classification and Correlation.
Institute of Pharmaceutical and Food Analysis and Technologies,
Via Brigata Salerno, 16147 Genoa, Italy.

Citation:

Lichman, M. (2013). UCI Machine Learning Repository
[https://archive.ics.uci.edu/ml]. Irvine, CA: University of California,
School of Information and Computer Science.

.. topic:: References

  (1) S. Aeberhard, D. Coomans and O. de Vel,
  Comparison of Classifiers in High Dimensional Settings,
  Tech. Rep. no. 92-02, (1992), Dept. of Computer Science and Dept. of
  Mathematics and Statistics, James Cook University of North Queensland.
  (Also submitted to Technometrics).

  The data was used with many others for comparing various
  classifiers. The classes are separable, though only RDA
  has achieved 100% correct classification.
  (RDA : 100%, QDA 99.4%, LDA 98.9%, 1NN 96.1% (z-transformed data))
  (All results using the leave-one-out technique)

  (2) S. Aeberhard, D. Coomans and O. de Vel,
  "THE CLASSIFICATION PERFORMANCE OF RDA"
  Tech. Rep. no. 92-01, (1992), Dept. of Computer Science and Dept. of
  Mathematics and Statistics, James Cook University of North Queensland.
  (Also submitted to Journal of Chemometrics).

##### у целевой переменной 3 класса

In [24]:
wine.target_names

array(['class_0', 'class_1', 'class_2'], dtype='<U7')

5). На основе данных датасета (они содержатся в двумерном массиве Numpy) и названий признаков создайте датафрейм под названием X.

In [30]:
X = pd.DataFrame(wine.data, columns=wine.feature_names)

In [31]:
X.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0

6). Выясните размер датафрейма X и установите, имеются ли в нем пропущенные значения.

In [47]:
X.shape

(178, 13)

In [32]:
X.isnull().sum()

alcohol                         0
malic_acid                      0
ash                             0
alcalinity_of_ash               0
magnesium                       0
total_phenols                   0
flavanoids                      0
nonflavanoid_phenols            0
proanthocyanins                 0
color_intensity                 0
hue                             0
od280/od315_of_diluted_wines    0
proline                         0
dtype: int64

In [51]:
X.dtypes

alcohol                         float64
malic_acid                      float64
ash                             float64
alcalinity_of_ash               float64
magnesium                       float64
total_phenols                   float64
flavanoids                      float64
nonflavanoid_phenols            float64
proanthocyanins                 float64
color_intensity                 float64
hue                             float64
od280/od315_of_diluted_wines    float64
proline                         float64
dtype: object

7). Добавьте в датафрейм поле с классами вин в виде чисел, имеющих тип данных numpy.int64. Название поля - 'target'.

In [53]:
wine.target.shape

(178,)

In [56]:
X = X.assign(target=wine.target)

In [57]:
X.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0

In [63]:
X["target"] = X["target"].astype("int64")

In [64]:
X["target"].dtypes

dtype('int64')

8). Постройте матрицу корреляций для всех полей X. Дайте полученному датафрейму название X_corr.

In [80]:
X_corr = X.corr()

9). Создайте список high_corr из признаков, корреляция которых с полем target по абсолютному значению превышает 0.5 (причем, само поле target не должно входить в этот список).

In [89]:
high_corr = list(X_corr.loc[X_corr["target"].abs() > 0.5, :].index)

In [90]:
high_corr.remove("target")

In [92]:
high_corr

['alcalinity_of_ash',
 'total_phenols',
 'flavanoids',
 'hue',
 'od280/od315_of_diluted_wines',
 'proline']

10). Удалите из датафрейма X поле с целевой переменной. Для всех признаков, названия которых содержатся в списке high_corr, вычислите квадрат их значений и добавьте в датафрейм X соответствующие поля с суффиксом '_2', добавленного к первоначальному названию признака. Итоговый датафрейм должен содержать все поля, которые, были в нем изначально, а также поля с признаками из списка high_corr, возведенными в квадрат. Выведите описание полей датафрейма X с помощью метода describe.

In [95]:
X.drop("target",axis=1, inplace=True)

In [96]:
X.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0

In [98]:
for feature in high_corr:
    X[f"{feature}_2"] = X[feature] ** 2

In [105]:
new_order = list(X.columns)

In [106]:
new_order.sort()

In [110]:
X = X[new_order]

In [111]:
X.head()

,alcalinity_of_ash,alcalinity_of_ash_2,alcohol,ash,color_intensity,flavanoids,flavanoids_2,hue,hue_2,magnesium,malic_acid,nonflavanoid_phenols,od280/od315_of_diluted_wines,od280/od315_of_diluted_wines_2,proanthocyanins,proline,proline_2,total_phenols,total_phenols_2
0,15.6,243.36,14.23,2.43,5.64,3.06,9.3636,1.04,1.0816,127.0,1.71,0.28,3.92,15.3664,2.29,1065.0,1134225.0,2.80,7.8400
1,11.2,125.44,13.20,2.14,4.38,2.76,7.6176,1.05,1.1025,100.0,1.78,0.26,3.40,11.5600,1.28,1050.0,1102500.0,2.65,7.0225
2,18.6,345.96,13.16,2.67,5.68,3.24,10.4976,1.03,1.0609,101.0,2.36,0.30,3.17,10.0489,2.81,1185.0,1404225.0,2.80,7.8400
3,16.8,282.24,14.37,2.50,7.80,3.49,12.1801,0.86,0.7396,113.0,1.95,0.24,3.45,11.9025,2.18,1480.0,2190400.0,3.85,14.8225
4,21.0,441.00,13.24,2.87,4.32,2.69,7.2361,1.04,1.0816,118.0,2.59,0.39,2.93,8.5849,1.82,735.0,540225.0,2.80,7.8400

In [113]:
X.describe()

,alcalinity_of_ash,alcalinity_of_ash_2,alcohol,ash,color_intensity,flavanoids,flavanoids_2,hue,hue_2,magnesium,malic_acid,nonflavanoid_phenols,od280/od315_of_diluted_wines,od280/od315_of_diluted_wines_2,proanthocyanins,proline,proline_2,total_phenols,total_phenols_2
count,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,1.780000e+02,178.000000,178.000000
mean,19.494944,391.142865,13.000618,2.366517,5.058090,2.029270,5.110049,0.957449,0.968661,99.741573,2.336348,0.361854,2.611685,7.322155,1.590899,746.893258,6.564591e+05,2.295112,5.657030
std,3.339564,133.671775,0.811827,0.274344,2.318286,0.998859,4.211441,0.228572,0.443798,14.282484,1.117146,0.124453,0.709990,3.584316,0.572359,314.907474,5.558591e+05,0.625851,2.936294
min,10.600000,112.360000,11.030000,1.360000,1.280000,0.340000,0.115600,0.480000,0.230400,70.000000,0.740000,0.130000,1.270000,1.612900,0.410000,278.000000,7.728400e+04,0.980000,0.960400
25%,17.200000,295.840000,12.362500,2.210000,3.220000,1.205000,1.452100,0.782500,0.612325,88.000000,1.602500,0.270000,1.937500,3.754075,1.250000,500.500000,2.505010e+05,1.742500,3.036325
50%,19.500000,380.250000,13.050000,2.360000,4.690000,2.135000,4.558250,0.965000,0.931250,98.000000,1.865000,0.340000,2.780000,7.728400,1.555000,673.500000,4.536045e+05,2.355000,5.546050
75%,21.500000,462.250000,13.677500,2.557500,6.200000,2.875000,8.265700,1.120000,1.254400,107.000000,3.082500,0.437500,3.170000,10.048900,1.950000,985.000000,9.702250e+05,2.800000,7.840000
max,30.000000,900.000000,14.830000,3.230000,13.000000,5.080000,25.806400,1.710000,2.924100,162.000000,5.800000,0.660000,4.000000,16.000000,3.580000,1680.000000,2.822400e+06,3.880000,15.054400